:root{
	font-family: Helvetica;
}

body{
	height:100vh;
	width:100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}


p,h1,h2,h3,h4{
	margin:0;
}

#header-wrapper{
	width: 100%;
}

.navbar{
	width: 100%;
}

.my-container{
	display: flex;
	width:100%;
/*	min-height:80%;
*/	align-items: center;
/*	background: grey;
*/
}

.content-outer-container{
	padding:0.8rem;
/*	margin-top:1rem;
*/	height:95%;
	flex-direction: column;
	background-image: url(/static/doctorSchedule_bg.svg);
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;
}

.filter-container{
/*	background: white;
*/	height:3.3rem;
	padding-left: 1.2rem;
}

.content-control{
	background:rgba(241, 241, 241,0.5);
	border-radius: 4px;

}

.filter-wrapper{
	width:fit-content;
}

.calendar-wrapper{
	margin-left:5rem;
}

.timepicker-wrapper{
	margin-left:108px;
}

.apply-btn-container{
/*	margin-bottom: 0.8rem;
*/	margin-left: 4rem;
}

.schedule-container{
	height:78%;
	width:100%;
	padding:0.8rem;
}

.time-slot-area{
	width:100%;
	height:100%;
	overflow-y: scroll;
	flex-direction: column;
}

.time-slot-row{
	border-radius: 3px;
	width: 99%;
    height: 2.8rem;
/*    background: grey;
*/    flex-direction: row;
background:#f1f1f1;
    padding: 0.8rem;
    justify-content: space-around;
}

.time-slot-info{
	width:fit-content;
	height: fit-content;
	align-items: center;
	flex-direction: row;
}

.time-slot-info > p{
	margin-bottom:0;
}

.time-slot-info > h4{
	margin-bottom: 0;
}

.do-btn{
	background:rgb(45,121,214);
	color:white;
}

input{
	border:none;
	background:#f1f1f1;
}



.create-btn-container{
	position:absolute;
	right:0;
	margin-right: 5rem;
}

.create-slot-dialog{
	padding:0.8rem;
	display: none;
}


.dialog-row{
	width:100%;
	height:3rem;
/*	border:1px solid grey;
*/	flex-direction: row;
	padding-left: 0.8rem;
	margin-top: 1rem;
}

.text-wrapper{
	width:11rem;
	height:fit-content;
	font-size: 1.1rem;
}

.submit-btn-wrapper{
	position: absolute;
	bottom:0;
	flex-direction: row;
	justify-content: center;
	width:97%;
}

#submit-btn{
	width:50%;
}

.info-dialog{
	display: none;
	padding:0.6rem;
}

.input-container{
	width:fit-content;
}

.info{
	flex-direction: column;
	width:100%;

}

.info-text{
	font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    margin-left: 1.8rem;
    margin-bottom: 0.3rem;
}

.icon{
	width:50%;
	height:2.6rem;
}

.success-icon{
	background-image: url(/static/success.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.failer-icon{
	background-image: url(/static/warning.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

.btn-container{
	margin-left: 1rem;
}

.full-calendar-container{
    width: 90%;
    margin-top: 1rem;
    background: white;
    height: 80%;
}
#calendar{
	width:100%;
	height:100%;
	padding:0.8rem;
}