/*body{
	background-image: url(https://source.unsplash.com/C9XxB96hEEM/1600x900);
	background-position: 50% 0%;
	background-size: 60% 60%;
	background-repeat: no-repeat;
}*/


body{
	overflow-y: hidden;
}

:root{
	font-family: Helvetica;
	font-size:14px;
}
#user-link-wrapper{
	display: flex;
	flex-direction: row;
	padding-right:4px;
}

.navbar-link{
	margin-right:15%;
}

#background-container{
	display: flex;
	/* height:30vh; */
	background-image: url(https://source.unsplash.com/C9XxB96hEEM);
	height:100vh;
/*	background-position: 50% 15%;
*/	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom:55%;
}

#search-bar-container{
	width:50vw;
	position:fixed;
	top:33%;
	left:25%;
}

#do-search{
	background-color: white;
	border:1px solid #AEB6BF ;
}

/*#search-btn-container{
	border: 1px solid red ;
}*/
#function-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	background: white;
*//*	align-items: center;
*/	/*border:1px solid red;*/
	position:fixed;
	top:40%;
	left:10%;
	width:80vw;
	min-height:30vh;

}

#functions-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	background: white;
*//*	align-items: center;
*/	/*border:1px solid red;*/
	position:fixed;
	top:50%;
	left:10%;
	width:80vw;
	min-height:30vh;

}

.function{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	border:1px solid blue;
*/	height:80%;
	width:fit-content;
	justify-content: space-evenly;
	padding-top: 3px;
}
#info-container{
	width:fit-content;
	height:40vh;
	border:1px solid #AEB6BF;
	border-radius: 3px;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    background: white;
    padding-left:1rem;
    padding-right:1rem;
    overflow-x: hidden;
}

.my-card{
	width:15vw;
	height: 20vh;
	border:1px solid #AEB6BF;
	border-radius: 3px;
	margin-top: 5px;
	display: flex;
	background: white;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin:1vw;
	  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
}

.my-card:hover{
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    transform: translate(0,-5px);
    transition-delay: 0s;
 	cursor:pointer;
}

#info-container:hover{
	box-shadow:0 16px 32px 0 rgba(48, 55, 66, 0.15);
	transform: translate(0,-5px);
	transition-delay: 0s;
}

.content-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: fit-content;
/*	border: 1px solid red;
*/}

.function-title{
	font-family: Helvetica;
	font-size: 1em;
	font-weight:bolder;
}

#outer-container{
	height:fit-content;
/*	border:1px solid blue;
*/	margin-bottom: 5%;
}


#info-container{
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height:21rem;
	width:38rem;
	overflow-y: scroll;
}

.recent{
/*	border:1px solid red;
*/	width:36rem;
	height: 6rem;
	margin-top: 1%;
	background: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: lighter;
}


.time{
	width:fit-content;
	height:35%;
/*	border:1px solid red;
*/	font-size:0.1rem;
	font-weight: 700;
}

.info{
	display: flex;
	flex-direction: row;
	min-width: 95%;
	height:45%;
/*	border: 1px solid red;
*/	margin-bottom: 3%;
}

.info-content{
	width:25%;
/*	border:1px solid blue;
*/	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica;
	color:black;
	background: #F2F2F2;
}

.info-content:nth-child(4){
/*	background: #448E05;
	margin-right:3%;
	color:white;
	border-radius: 3px;
*/}
#appointment-btn-wrapper{
	margin-bottom: 3%;
}

#title2{
	margin-bottom:5%;

}

#welcome-container{
	width:60vw;
	position:fixed;
	top:33%;
	left:20%;
	text-align: center;
	font-size: 24pt;
	background-color: rgba(255,255,255,0.8);
	border-radius: 2%;
	border-style: solid;
	border-width: 2pt;
	border-color: rgba(255,255,255,1);
}
