a{
	color:black;
}

.header{
	width: 100%;
	height:3rem;
/*	background: grey;
*/	padding-left:1rem;
	flex-direction: row;
	border:1px dashed #f1f1f1;
}

.text-wrapper{
	margin-right:1rem;
}

.icon{
	width:2rem;
	height:2rem;

	margin-right: 1rem;
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

.go-back{
	background-image: url(/static/icons/return.svg);

}

.go-back:hover{
	cursor:pointer;
}

.href-container{
	margin-left:1rem;
}

.filter-header{
    flex-direction: column;
    height: 7rem;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top:1rem;
 }

.filter-row{
	width:100%;
	padding-left: 1rem;
}

.search-icon{
	background-image: url(/static/icons/search.svg);
    height: 1.5rem;
    width: 1.3rem;
    margin-left: 2rem;
}

.search-icon:hover{
	cursor:pointer;
}

#search-input{
	width:35rem;
}

.search-date-wrapper{
	width: 47rem;
    justify-content: space-between;
    padding-right: 5rem;
}

.card-list-container{
	height:fit-content;
	width:fit-content;
	min-width: 780px;
	padding:1rem 1.5rem 1rem 1.5rem;
	background:#f1f1f1;
	flex-direction: column;
	margin-top:1rem;
}

.card{
	width:770px;
	height:fit-content;
	background:white;
}

.card-row{
	width:100%;
	height:1.8rem;
	padding-left:1rem;
}

.card-title{
	border-bottom: 1px solid #f1f1f1;
}


.status{
	position:absolute;
	right:0;
	top:40%;
	background:red;
	padding:0.3rem;
	width:fit-content;
	height:2rem;
	margin-right:1rem;
	border-radius: 0.25rem;
}

.pending{
	background:#7BB85D;
}

.footer{
	width:100%;
	height:3rem;
	background:#f1f1f1;
	position:absolute;
	bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}


.pagination-container{
	position:absolute;
	right:0;
	margin-right:1.5rem;

}

.card-list-outer-wrapper{
	width:100%;
	height:64%;
	flex-direction: column;
	overflow-y: scroll;
	background:#f1f1f1;
}

.form-container{
	padding:2em;
}

.edit-icon{
	background-image: url(/static/icons/edit.svg);
    height: 1.5rem;
    width: 1.3rem;
    margin-left: 2rem;
}

.edit-icon:hover{
	cursor:pointer;
}

.card:hover{
	cursor: pointer;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 0 6px #999;
    box-shadow: 0 0 6px #999;
    -webkit-transition: all 0s ease-out;
    transition: all 0s ease-out;
}