<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>doctorPage</title>
	<link rel="stylesheet" href="/static/bookDoctor.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<!-- jquery UI  -->
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
	
	<!-- moment.js 时间库 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
</head>
<body>
	<form id="doctorInfo" style="display: none;">
		<input type="text" id="doctorName" name="doctorName" value={{ doctorName }}>
		<input type="text" id="doctorID" name="doctorID" value={{ doctorID }}>

	</form>
	<div class="pageContent">

		<!-- 头像 -->
		<div class="doctor-info-container avatar-container"></div>
		<!-- 信息 -->
		<div class="doctor-info-container">
			<div><h3>{{ doctorName }}</h3></div>
			<div><p>{{ hospital }}</p>&nbsp&nbsp <p>{{ department }}</p></div>

		</div>

	</div>

	<!-- 预约时间段展示 -->
	<div class="pageContent booking-part">
		<div class="booking-part-inner-wrapper">
			<h2>Book an appointment</h2>
			<div class="input-fields-wrapper">
				<p>Date<input type="text" id="select-date"></p>
				<button id="search">search</button>
			</div>
			<div class="time-slot-container">

				<!-- 时间段列表 -->
				<ul>

					<!-- 单个时间段 -->
					<li>
						<div class="time-slot-row">

							<div class="time-slot-info time"><h4>time</h4></div>
							<div class="wrapper">
							<div class="time-slot-info availSpace">剩余位置</div>
							<div class="time-slot-info reserve"><button class="book-btn" onclick="openModal()" data-toggle="modal" data-target="#myModal">make an appointment</button></div>
							</div>
						
						</div>
					</li>
				
				</ul>
			</div>		
		</div>


	</div>


	<div class="book-dialog" title="confirm appointment">
		<div class="dialog-content-container">

			<!-- 预约时间 -->
			<div class="dialog-content">
				<div class="dialog-content-row">
					<div>
						<h4>hospital</h4>
					</div>
					<div>
						<h4>department</h4>	
					</div>
					
				</div>
				<div class="dialog-content-row">
					<div>
						<p>doctor</p>
					</div>
					<div>
						<p>date</p>		
					</div>
					
				</div>

			</div>
			
			<!-- 预约人信息 -->
			<div class="dialog-content input-part">
				<h3>Confirm your information</h3>
				<div class="dialog-content-row">
					<p>name <input type="text" class="input-name"></p>

				</div>
				<div class="dialog-content-row">
					<p>phone <input type="text" class="input-phone"></p>
				</div>
			</div>

			<!-- 病情描述 -->
			<div class="dialog-content input-part">
				<label for="synopsis">
					<h3>Synoposis</h3>
				</label>
				
				<div class="dialog-content-row">
					<textarea id="synopsis" cols="30" rows="5"></textarea>
				</div>
			</div>

			<div class="dialog-content">
				<button id="submit">submit</button>
			</div>
		</div>

	</div>


<script type="text/javascript" src="/static/js/patientAppt.js"></script>
<script type="text/javascript">

	$('#select-date').datepicker({ minDate: 0, maxDate: "+7D" });

	$('.book-btn').button();

	$('#search').button();

	$('#submit').button();

	getDocSlot(moment().format("YYYY-MM-DD"));


</script>
</body>
</html>