<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WeCare</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="/static/nurseHome.css">
</head>
<style>
	.nav-link:hover{cursor: pointer;}
	#overlay{position:absolute; top:0%; left:0%; width: 100vw; height:100vh; background-color: rgba(0,0,0,0.1); z-index: 2;}
</style>
<body>
	<div id="overlay" class="">
		<div class="w-100 d-flex justify-content-center align-items-center">
			<div class="spinner-border" role="status"></div>
		</div>
	</div>

	<div id="header-wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #2D79D6;">
			<div class="d-flex justify-content-start">
				<span class="navbar-brand mb-0 h1">WeCare</span>
				<div class="navbar-nav">
					<a class="nav-main nav-item nav-link active disabled" href="/nurseHome">Home</a>
					<a class="nav-main nav-item nav-link" href="/nurseAllAppt">All appointments</a>
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<form class="form-inline" action="/nurseSearch" method="POST" style="padding-right:1em;">
					<div class="input-group">
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="search-input" placeholder="department, doctor, patient">
							<div class="input-group-append">
							<span class="input-group-text" id="inputGroup-sizing-sm">
								<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
									<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
								</svg>
							</span>
						</div>
					</div>
				</form>
				<div class="navbar-nav">
			  	<a class="nav-item nav-link" href="#">User</a>
			  	<a class="nav-item nav-link" href="/logout">Logout</a>
				</div>
			</div>
		</nav>
	</div>

	<div id="content-wrapper" style="padding:1em;">
		<div id="content-header-wrapper">
			<nav class="nav nav-tabs">
				<div class="nav-item">
					<div class="content-header nav-table nav-link active disabled" id="pendingApp">Pending applications</div>
				</div>
				<div class="nav-item">
					<div class="content-header nav-table nav-link" id="todayAppt">Today's appointments</div>
				</div>
				<div class="ml-auto">
					<a class="btn btn-primary" id="goCreateAppt" href="/nurseGoCreateAppt">Create New Appointment</a>
				</div>
			</nav>
		</div>
		<div class='table' id="table-container" style="padding-top:0.5em;">
			<table id="main-table" style="width:100%;">
			  <thead>
			    <tr>
			      <th scope="col" style="width:5em;">Application ID</th>
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Doctor</th>
						<th scope="col">Patient</th>
						<th scope="col">Symptoms</th>
						<th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody></tbody>
				<tfoot>
					<th scope="col" style="width:5em;">Application ID</th>
					<th scope="col">Date</th>
					<th scope="col">Time</th>
					<th scope="col">Doctor</th>
					<th scope="col">Patient</th>
					<th scope="col">Symptoms</th>
					<th scope="col"></th>
				</tfoot>
			</table>
		</div>

		<!-- modal1 -->
		<div class="modal fade" id="application" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="application" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-scrollable modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="applicationLabel">Appointment Application</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
						<div class="container-fluid">
					    <div class="row">
					      <div class="col-md-5"><span><b>Application ID: </b></span><span id="appID"></span></div>
					      <div class="col-md-3"><span><b>Date: </b></span><span id="date"></span></div>
								<div class="col-md-2"><span><b>Time: </b></span><span id="time"></span></div>
					    </div>
					    <div class="row">
					      <div class="col-md-5"><span><b>Doctor: </b></span><span id="doctor"></span></div>
					      <div class="col-md-5"><span><b>Patient: </b></span><span id="patient"></span></div>
					    </div>
					    <div class="row">
					      <div class="col-md-6"><span><b>Symptoms: </b></span><span id="symptoms"></span></div>
					    </div>
					  </div>
						<hr>
						<form id="processApp">
		          <div class="form-group">
		            <label for="comments" class="col-form-label">Comments (required if you reject the application)</label>
		            <textarea class="form-control" id="comments" name="comments"></textarea>
		          </div>
							<input type="submit" class="btn btn-primary processAppSubmit" name="action" value="Approve" />
			        <input type="submit" class="btn btn-secondary processAppSubmit" name="action" value="Reject" />
		        </form>
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="approveApp()">Approve</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="rejectApp()">Reject</button>
		      </div> -->
		    </div>
		  </div>
		</div>


	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/js/nurseHome.js"></script>
	<script type="text/javascript" src="/static/index.js"></script>
</body>
</html>
