<!-- author: Jingyi Zhu -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WeCare</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="/static/nurseHome.css">
	<link rel="stylesheet" type="text/css" href="/static/general.css">
</head>

<body>
	<div id="overlay" class="">
		<div class="w-100 d-flex justify-content-center align-items-center">
			<div class="spinner-border" role="status"></div>
		</div>
	</div>

	<div id="header-wrapper">
		<nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #2D79D6;">
			<div class="d-flex justify-content-start">
				<span class="navbar-brand mb-0 h1">WeCare</span>
				<div class="navbar-nav">
					<a class="nav-main nav-item nav-link" href="/nurseHome">Home</a>
					<a class="nav-main nav-item nav-link" href="/nurseAllAppt">All appointments</a>
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<form class="form-inline" action="/nurseSearch" method="POST" style="padding-right:1em;">
					<div class="input-group">
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="search-input" placeholder="department, doctor, patient">
							<div class="input-group-append">
							<span class="input-group-text" id="inputGroup-sizing-sm">
								<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
									<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
								</svg>
							</span>
						</div>
					</div>
				</form>
				<div class="navbar-nav">
			  	<a class="nav-item nav-link" href="/nurseSettings">User</a>
			  	<a class="nav-item nav-link" href="/logout">Logout</a>
				</div>
			</div>
		</nav>
	</div>

	<div class="container" id="content-wrapper" style="padding:1em;">
		<div id="content-header-wrapper">
			<nav class="nav nav-tabs d-flex justify-content-center">
				<div>
					<h3>Appointment and Medical Record</h3>
				</div>
			</nav>
		</div>

		<div id="content-wrapper" style="padding:1em;">
			<div class="container-fluid">
		    <div class="row">
		      <div class="col-md-4"><span><b>Application ID: </b></span><span id="appID">{{appID}}</span></div>
					<div class="col-md-4"><span><b>Date: </b></span><span id="date">{{date}}</span></div>
					<div class="col-md-4"><span><b>Time: </b></span><span id="time">{{time}}</span></div>
		    </div>
		    <div class="row">
					<div class="col-md-4"><span><b>Medical Record ID: </b></span><span id="mcID">{{mcID}}</span></div>
					<div class="col-md-4"><span><b>Doctor: </b></span><span id="doctor">{{doctor}}</span></div>
					<div class="col-md-4"><span><b>Patient: </b></span><span id="patient">{{patient}}</span></div>
		    </div>
				<div class="row">
					<div class="col-md-8"><span><b>Application/Appointment Status: </b></span><span id="appStatus"></span></div>
					<form action="/doctorNurseGoViewMC" method="POST" class="col-md-4">
						<input class="d-none" type="text" name="patientID" value="{{patientID}}" readonly>
						<input type="submit" class="btn btn-sm btn-primary" id="viewMC" value="view patient's medical history">
					</form>
				</div>
		    <div class="row">
		      <div class="col"><span><b>Symptoms: </b></span><span id="symptoms">{{symptoms}}</span></div>
		    </div>
				<div class="row">
		      <div class="col"><span><b>Comments: </b></span><span id="comments"></span></div>
		    </div>
		  </div>

			<hr>
			{% if finished %}
			<fieldset disabled>
			{% else %}
			<fieldset>
			{% endif %}
			<form id="PreExamForm">
				<h5>Pre-examination</h5>
				<div class="form-group row">
          <label for="bodyTemperature" class="col-2 col-form-label"><b>Body temperature</b></label>
					<div class="col-3">
            <input type="number" step="0.01" class="form-control" id="bodyTemperature" name="bodyTemperature" value="">
					</div>
					<label for="bodyTemperature" class="form-control-label">&#8451;</label>
				</div>
				<div class="form-group row">
					<label for="heartRate" class="col-2 col-form-label"><b>Heart rate</b></label>
					<div class="col-3">
          	<input type="number" step="0.01" class="form-control" id="heartRate" name="heartRate" value="">
					</div>
					<label for="heartRate" class="form-control-label">BPM</label>
				</div>
				<div class="form-group row">
					<label for="highBloodPressure" class="col-2 col-form-label"><b>High blood pressure</b></label>
					<div class="col-3">
          	<input type="number" step="0.01" class="form-control" id="highBloodPressure" name="highBloodPressure" value="">
					</div>
					<label for="highBloodPressure" class="form-control-label">mmHg</label>
				</div>
				<div class="form-group row">
					<label for="lowBloodPressure" class="col-2 col-form-label"><b>Low blood pressure</b></label>
					<div class="col-3">
          	<input type="number" step="0.01" class="form-control" id="lowBloodPressure" name="lowBloodPressure" value="">
					</div>
					<label for="lowBloodPressure" class="form-control-label">mmHg</label>
				</div>
				<div class="form-group row">
					<label for="weight" class="col-2 col-form-label"><b>Weight</b></label>
					<div class="col-3">
          	<input type="number" step="0.01" class="form-control" id="weight" name="weight" value="">
					</div>
					<label for="weight" class="form-control-label">g</label>
				</div>
				<div class="form-group row">
					<label for="height" class="col-2 col-form-label"><b>Height</b></label>
					<div class="col-3">
          	<input type="number" step="0.01" class="form-control" id="height" name="height" value="">
					</div>
					<label for="height" class="form-control-label">cm</label>
				</div>
				<div class="form-group row">
					<label for="state" class="col-2 col-form-label"><b>State</b></label>
					<div class="col-3">
						<select class="form-control" id="state" name="state">
							<option value="" selected disabled></option>
				      <option value="conscious">conscious</option>
							<option value="coma">coma</option>
				    </select>
					</div>
				</div>
				<input type="submit" id="editPreExam" class="btn btn-primary" value="Edit"/>
      </form>
		</fieldset>

			<hr>
			<h5>Diagnosis</h5>
		  <p id="diagnosis"></p>
			<hr>
			<h5>
				Prescriptions
				<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#prescriptions" aria-expanded="false" aria-controls="prescriptions">Show</button>
			</h5>
			<div id="prescriptions" class="collapse"></div>
			<hr>
			<h5>
				Lab reports
				<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#labReports" aria-expanded="false" aria-controls="labReports">Show</button>
			</h5>
			<div id="labReports" class="collapse"></div>
			<hr>
			<h5>Upload lab report</h5>
			<form id="labReportForm" enctype="multipart/form-data">
				<div class="form-group row">
					<label for="type" class="col-2 col-form-label"><b>Lab Report Type</b></label>
					<div class="col-5">
						<select class="form-control" id="labReportTypes" name="type" required/>
				      <option value="" disabled selected></option>
				    </select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-10 col-form-label" for="labReport"><b>Choose a lab report</b></label>
				  <input class="form-control" type="file" id="labReport" name="labReport" required>
					<label class="col-form-label" for="labReport">supported file formats: .jpg, .png, .pdf</label>
				</div>
				<div class="form-group row">
					<label class="col-10 col-form-label" for="comments"><b>Comments</b></label>
				  <textarea class="form-control" id="comments" name="comments"></textarea>
				</div>
				<input type="submit" id="uploadReport" class="btn btn-primary" value="Upload"/>
      </form>
    </div>

	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/js/class/modal.js"></script>
	<script type="text/javascript" src="/static/js/function/util.js"></script>
	<script type="text/javascript" src="/static/js/function/apptAndMC.js"></script>
	<script type="text/javascript" src="/static/js/nurseViewAppt.js"></script>
</body>
</html>
