<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Make Appointment — Departments</title>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/styles/patientDepartment.css">
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

</head>
<body>
	<form id="pagination-counter" style="display: none;">
		<input id="hospitalID" name='hospitalID'value=1></input>
		<input id="currdept" name='currdept' value=10></input>
	</form>
	<nav class="navbar navbar-light" style="background-color: #2D79D6;">
	  <!-- Navbar content -->
	  <span class="navbar-brand mb-0 h1" style="color:white;">WeCare</span>

	  <div id="user-link-wrapper">
			<a href="/patientSettings" class="navbar-link navbar-right" style="color:white;">User</a>
			<a href="/logout" class="navbar-link navbar-right" style="color:white;">Logout</a>
	  </div>

	</nav>

	<div id="content-wrapper">
		<div id="header-wrapper">
			<div class='header'id="header-1">
				<div id="header-1-left">
					<div id="back-btn-wrapper">
						<div id="back-btn-arrow" onclick="goToPage('hospitalListPage', 0)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
						</svg>
						</div>
						<div id="header-1-title">Departments</div>
					</div>
					<span></span>
				</div>
				<div id="header-1-right">
					<span></span>
					<div id="appoint-btn-container">
						<button type="button" class="btn btn-secondary" id="view-record-btn">My appointment</button>
					</div>
				</div>
			</div>
			<div class='header' id='header-2'>
				<div class="header-2-component "id="header-2-upper">
					<div class="input-group input-group-sm mb-3">

					  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="search-input" placeholder="搜索医院 医生">
  					  <div class="input-group-append">
					    <span class="input-group-text" id="inputGroup-sizing-sm"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
					  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
					</svg></span>
					  </div>
					</div>
				</div>

			</div>
		</div>
		<div id="department-info-container">
			<div id="department-list-container">
				<div class="list-group">
					{% for dept in department_list %}
						{% if loop.index==1 %}
					  <button type="button" id={{dept.departmentID}} class="list-group-item list-group-item-action active dept-btn">{{dept.departmentName}}</button>
					  	{% else %}
					  <button type="button" id={{dept.departmentID}} class="list-group-item list-group-item-action dept-btn">{{dept.departmentName}}</button>
					  {% endif %}
					  {% endfor %}
				</div>
			</div>
			<div id="card-list-container">
				<div id="close-frame-container">
					<div id="close-frame-btn-row">
						<p> <button type="button" class="btn btn-light" onclick="closeFrame()"><span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
						</svg></span></button>Back to Doctor</p>

					</div>
				</div>
				<div id="card-list">
				  </div>
			</div>

		</div>
		</div>



	<script type="text/javascript" src="/static/js/function/util.js"></script>
	<script type="text/javascript" src="/static/js/patientAppt.js">
	</script>
	<script type="text/javascript">
		$('#close-frame').button();
	</script>
</body>
</html>
