<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>patientRecords</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/styles/base.css">
	<link rel="stylesheet" href="/static/styles/patientRecord.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
	  <script>
		  $( function() {
		    var dateFormat = "mm/dd/yy",
		      from = $( "#from" )
		        .datepicker({
		          defaultDate: "+1w",
		          changeMonth: true,
		          changeYear:true,
		          numberOfMonths: 1
		        })
		        .on( "change", function() {
		          to.datepicker( "option", "minDate", getDate( this ) );
		        }),
		      to = $( "#to" ).datepicker({
		        defaultDate: "+1w",
		        changeMonth: true,
		        changeYear:true,
		        numberOfMonths: 1
		      })
		      .on( "change", function() {
		        from.datepicker( "option", "maxDate", getDate( this ) );
		      });

		    function getDate( element ) {
		      var date;
		      try {
		        date = $.datepicker.parseDate( dateFormat, element.value );
		      } catch( error ) {
		        date = null;
		      }

		      return date;
		    }
		  } );
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js" integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css" integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA==" crossorigin="anonymous" />
</head>
<body>
		<form id="pagination-counter" style="display: none;">
		<input id="currPage" name='currPage'value=1></input>
		<input id="pageSize" name='pageSize' value=10></input>
		<input id="pageCount" name='pageCount' value=0></input>
		<input id="searchKey" name='searchKey' value=''></input>
	</form>
	<nav class="navbar navbar-light" style="background-color: #2D79D6;">
	  <!-- Navbar content -->
	  <span class="navbar-brand mb-0 h1" style="color:white;">WeCare</span>

	  <div id="user-link-wrapper">
		  <a href="/patientSettings" class="navbar-link navbar-right" style="color:white;">User</a>
			<a class="navbar-link navbar-right" style="color:white;" href="/logout">Logout</a>

	  </div>
	</nav>

	<div class="my-container outer-container">
		<div class="my-container header">
			<div class="icon go-back" onclick="goBackHome()"></div>
			<p>Health Record</p>
		</div>
		<div class="my-container header href-header">
			<div class="href-container"><a href="/patientHealthInfo">personal health info</a></div>
			<div class="href-container"><a href="/patientGoViewMC">medical records</a></div>
			<div class="href-container"><a href="/patientGoViewAppt">appointment records</a></div>
			<div class="href-container"></div>

		</div>

		<div class="my-container header filter-header">

			<div class="my-container filter-row">
				<div class="my-container search-key-wrapper">
				<input type="text" name="search-key" placeholder="search hospital, doctor" id="search-input">
				<div class="icon search-icon"></div>
				</div>
			</div>

			<div class="my-container filter-row">
					<div class="my-container search-date-wrapper">
						<div class="my-container">
							<div class="my-container text-wrapper"><p>start date</p></div>
							<input type="text" id="from" name="search-date">
						</div>
						<div class="my-container">
							<div class="my-container text-wrapper"><p>end date</p></div>
							<input type="text" id="to" name="search-date">
						</div>
						<div class="my-container">
							<button id="apply">refresh</button>
						</div>

					</div>
			</div>

		</div>


		<!-- 列表 -->
		<div class="my-container card-list-outer-wrapper">
			<div class="my-container card-list-container">
			</div>

		</div>
		<div class="my-container footer">
			<div class="my-container total-record-shower">
				<div class="my-container text-wrapper total-record-text-wrapper"><p>total records:</p>
					<p id="total_count"></p>
				</div>
			</div>
			<div class="my-container pagination-container"></div>
		</div>

	</div>

	<!-- medical record modal -->
	<div class="modal fade" id="mc" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="mc" aria-hidden="false">
		<div class="modal-dialog modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="mcLabel">Medical Record</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-3"><span><b>Application ID: </b></span><span id="appID"></span></div>
							<div class="col-md-3"><span><b>Date: </b></span><span id="date"></span></div>
							<div class="col-md-3"><span><b>Time: </b></span><span id="time"></span></div>
						</div>
						<div class="row">
							<div class="col-md-4"><span><b>Medical Record ID: </b></span><span id="mcID"></span></div>
							<!-- <div class="col-md-4"><span><b>Patient: </b></span><span id="patient"></span></div> -->
							<div class="col-md-4"><span><b>Doctor: </b></span><span id="doctor"></span></div>
						</div>
						<div class="row">
							<div class="col-md"><span><b>Symptoms: </b></span><span id="symptoms"></span></div>
						</div>
						<div class="row">
							<div class="col-md"><span><b>Comments: </b></span><span id="comments"></span></div>
						</div>
						<div class="row">
							<div class="col-md"><span><b>Application/Appointment Status: </b></span><span id="appStatus"></span></div>
						</div>
						<hr>
						<h5>Pre-examination</h5>
						<div class="row">
							<div class="col-md-3"><b>Body temperature</b></div>
							<div class="col-md-auto" id="bodyTemperature">
							</div>
							<div class="col-md-auto">&#8451;</div>
						</div>
						<div class="row">
							<div class="col-md-3"><b>Heart rate</b></div>
							<div class="col-md-auto" id="heartRate">
							</div>
							<div class="col-md-auto">BPM</div>
						</div>
						<div class="row">
							<div class="col-md-3"><b>High blood pressure</b></div>
							<div class="col-md-auto" id="highBloodPressure">
							</div>
							<div class="col-md-auto">mmHg</div>
						</div>
						<div class="row">
							<div class="col-md-3"><b>Low blood pressure</b></div>
							<div class="col-md-auto" id="lowBloodPressure">
							</div>
							<div class="col-md-auto">mmHg</div>
						</div>
						<div class="row">
							<div class="col-md-3"><b>Weight</b></div>
							<div class="col-md-auto" id="weight">
							</div>
							<div class="col-md-auto">g</div>
						</div>
						<div class="row">
							<div class="col-md-3"><b>Height</b></div>
							<div class="col-md-auto" id="height">
							</div>
							<div class="col-md-auto">cm</div>
						</div>
						<div class="row">
							<div class="col-md-3"><b>State</b></div>
							<div class="col-md-auto" id="state">
							</div>
						</div>
						<hr>
						<h5>Diagnosis</h5>
						<p id="diagnosis"></p>
						<hr>
						<h5>
							Prescriptions
							<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#prescriptions" aria-expanded="false" aria-controls="prescriptions">Show</button>
						</h5>
						<div id="prescriptions" class="collapse"></div>
						<hr>
						<h5>
							Lab reports
							<button class="btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#labReports" aria-expanded="false" aria-controls="labReports">Show</button>
						</h5>
						<div id="labReports" class="collapse"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="/static/js/function/util.js"></script>
<script type="text/javascript" src="/static/js/function/apptAndMC.js"></script>
<script type="text/javascript" src="/static/js/class/modal.js"></script>
<script type="text/javascript" src="/static/js/patientMC.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
